.content-box {
    width: 90%;
    margin: auto;
    background-color: #fff;
}

.content-status {
    width: 96%;
    padding: 0.75rem 0;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-status h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.content-status a {
    color: #fff;
    background-color: #1d2124;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.3s;
}
.content-status a:hover{
    background-color: #080a0aca;
}


.content-print-search {
    width: 96%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.print-btn {
    cursor: pointer;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 4px;
}

.search-inp {
    padding: 8px 12px;
    border: 1px solid #ccc;
    outline-color: #1d2124;
    border-radius: 4px;
}

.content-table table {
    width: 96%;
    margin: 20px auto;
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}

.content-table table thead tr th {
    background-color: rgb(237, 237, 237);
    padding: 14px 5px;
    border: 1px solid #dee2e6;
}

.content-table table tbody tr td {
    text-align: center;
    padding: 14px 1px;
    border: 1px solid #dee2e6;
}

.oparation-btn {
    display: inline-block;
    text-decoration: none;
    padding: 3px 12px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    margin: 5px;
}

.oparation-btn img {
    width: 1.1rem;
    height: 1.1rem;
}

.active-btn {
    background-color: green;
}

.inactive-btn {
    background-color: orange;
}

.edit-btn {
    background-color: blue;
    transition: 0.3s;
}
.edit-btn:hover{
    background-color: rgb(12, 12, 161);
}
.delete-btn {
    background-color: red;
    transition: 0.3s;
}
.delete-btn:hover{
    background-color: rgb(173, 15, 15);
}

.content-pagination {
    padding-bottom: 20px;
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.content-pagination span {
    line-height: 35px;
}

.pagination-btn {
    text-decoration: none;
}

.pagination-btn img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid  #D85C27;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    margin-right: 8px;
}

@media (max-width:1000px) {
    .content-wrap {
        overflow-x: scroll;
    }

    .content-status,
    .content-print-search,
    .content-table table,
    .content-pagination {
        width: 1000px;
    }
}